<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
    <link href="~/assets/css/bootstrap.rtl.min.css" rel="stylesheet" />
    @RenderSection("head", false)
</head>
<body>
    @RenderBody()
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    @RenderSection("script", false)
</body>
</html>
