@{
    Layout = "~/Views/_Layout.cshtml";
}

@section head{
    <!-- Additional head content specific to this page -->
}

<div id="mainContent" class="content container" style="margin-right: 0;">
    <h1>خوش آمدید</h1>
    <br />
    <h3>داشبورد</h3>
    <div class="border-top my-3"></div>

    
    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <img src="~/assets/icons/megaphone.png" class="img-fluid" height="20" width="20" />
                        تعداد اخبار
                    </h5>
                    <p class="card-text">
                        @ViewBag.newsCount
                    </p>
                    @Html.ActionLink("پر بازدید", "Index", "news", null, new { @class = "btn btn-info" })
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <img src="~/assets/icons/eye.png" class="img-fluid" height="20" width="20" />
                        تعداد    بازدید
                    </h5>
                    <p class="card-text">
                        @ViewBag.views
                    </p>
                    @Html.ActionLink("پر بازدید", "MostViewed", "news", null, new { @class = "btn btn-info" })

                </div>
            </div>
        </div>
    </div>



</div>


@section script{

}
